pytest~=7.2.2
fastapi~=0.111.1
sqlmodel~=0.0.21
requests~=2.32.3
logfire~=0.23.0
starlette~=0.37.2
SQLAlchemy~=2.0.30
celery~=5.4.0
pydantic~=2.7.1
ruff==0.4.5
docker==7.1.0
pydantic-settings==2.3.4
pydantic_core==2.20.1