apscheduler~=3.11.2
celery~=5.6.0
cryptography~=46.0.3
docutils~=0.22
fastapi~=0.127.0
fastapi_utilities~=0.3.1
filelock~=3.20.1
httpx==0.28.1 # Leave this pinned
logfire~=4.16.0
logfire[fastapi, requests, psycopg2, celery]~=4.16.0
pillow~=12.0.0
pip~=25.3
psycopg2~=2.9.11
pydantic~=2.12.5
pydantic-settings~=2.12.0
redis~=7.1.0
requests~=2.32.5
respx~=0.22.0
ruff==0.14.10
sentry-sdk~=2.48.0
setuptools~=80.9.0
SQLAlchemy~=2.0.45
sqlmodel~=0.0.27
starlette~=0.50.0
uvicorn~=0.40.0
